body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.results-container {
    width: 90%;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.login-container, .register-container {
    width: 30%;
    margin: 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.login-container input, .register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
table.dataTable th, table.dataTable td {
    color: #333;
    background-color: transparent;
}
table.dataTable tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}
table.dataTable tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}
.notes-container, .chart-container {
    width: 90%;
    margin: 20px auto;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.notes-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
